<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="push_left grey_background">
			Company info
			<h1>Company Name: </h1><hr>
			<h3>Company Email: </h3>
			<h3>Company Phone Number: </h3>
			<h3>Company Main Address: </h3>
			<h3>Company Password: </h3>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="push_left grey_background tall">
			<h2>Company Icon</h2>
		</div>
	</div>
</div>