<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="push_left grey_background">
			Company info
			<h2>Company Name: Company Name</h2><hr>
			<h3>Company Email: company@email.com</h3>
			<h3>Company Phone Number: 18001234567</h3>
			<h3>Company Main Address: Penselvania</h3>
			<h3>Company Password: Password123</h3>
			<h3>Company Dealer #: H12345</h3>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="push_left grey_background tall">
			<h2>Company Picture</h2>
		</div>
	</div>
</div>