
<div class='maps_container' style='width: 704px;'>
	<div id='multi_markers' style='width: 700px; height: 400px;'>
	</div>
</div>
<div class='adding_schedule'></div>


<script>
$(document).on('turbolinks:load', function() {
	var handler = Gmaps.build('Google');
	handler.buildMap({provider: { scrollwheel: true }, internal: {id: 'multi_markers'}}, function(){
		markers = handler.addMarkers([
			<% @ticket_coordinates.each do |ticket| %>

			    {
			      "lat": <%=ticket[0]%>,
			      "lng": <%=ticket[1]%>,
			      "infowindow": "<h1>hello</h1>"
			    },
			<% end %>
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(10);
});
	console.log(<%=@ticket_coordinates%>)
});
</script>