<h1>Tickets#index</h1>
<p>Find me in app/views/tickets/index.html.erb</p>

<div class='maps_container' style='width: 704px;'>
	<div id='multi_markers' style='width: 700px; height: 400px;'>
	</div>
</div>
<div class='adding_schedule'></div>


<script>
$(document).on('turbolinks:load', function() {
	var handler = Gmaps.build('Google');
	handler.buildMap({provider: { scrollwheel: true }, internal: {id: 'multi_markers'}}, function(){
		markers = handler.addMarkers([
			<% @ticket_coordinates.each do |ticket| %>
			    {
			      "lat": <%=ticket[0]%>,
			      "lng": <%=ticket[1]%>,
			      "infowindow": "hello!"
			    },
			<% end %>
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(10);
});
});
</script>