<h1>Tickets#new</h1>
<p>Find me in app/views/tickets/new.html.erb</p>
<p>upload pdf</p>

<div class="center">
	<%= form_for @ticket, :url => tickets_path, html: { multipart: true, class: 'center' } do |f| %>
		<div class="field">
			<%= f.file_field :image %>
		</div><br>
		<div class="actions">
		    <%= f.submit "Upload" %>
		</div>
	<%end%>
</div>