// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.center {
	margin: auto;
    width: 50%;
    padding: 10px;
    align: center;
}
.flex {
	float:left;
}
.push_left {
	text-align: left;
}