// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.grey_background {
	background-color: lightgrey;
	border: 1px solid black;
}
.tall {
	height: 295px;
}