// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.grey_background {
	background-color: lightgrey;
	border: 1px solid black;
}
.tall {
<<<<<<< HEAD
	height: 295px;
=======
	height: 335px;
>>>>>>> 67a3214c68b8c1a8ea3d532d2c11e4e94a78b87d
}